


.formulario {
  display: flex; /* or inline-flex */
  flex-direction: column;
  align-items: center;
}

.formulario form {
  display: flex; /* or inline-flex */
  flex-direction: column;
  gap: 15px;
}